body{
	background-color: pink;
	text-align: center;
}

h1{
	text-align: center;
}

h2{
	text-align: center;

}

p {
	text-align:center;
}

.li{
	text-align: center;
	display:block;
	margin: 20px,20px,20px,20px;
	border-style: outset;
	padding: 10px;
}

#current{
	font-weight: bold;
	color:white;
}